# Visual Studio cache directory
.vs/

# VSCode cache directory
.vscode/

# Mac folder info
**/.DS_Store

# Gamemaker stuff
ChapterMaster.resource_order

# VSCode Code Stitch Igor cache
tmp/

# VSCode Stitch config
stitch.config.json

# Gobo Formatter
gobo.exe
gobo
gobo.dSYM/

# If all of your sprite sources are in this repo you can stick a "!" in front of this to track this file. Otherwise this file is machine-specific and should be ignored.
sprites.import.json
# This is a cache file for speeding up subsequent pipeline operations. It should not be tracked in git.
sprites.info.json

# Gamemaker GMRT cache
Build/

# AI folders
.gemini/
.claude/
.cline/
.kilo/
